.tp-header-transparent {
    top: 35px;
}
@media (max-width: 767px) {
    .tp-header-transparent {
        top: 0px;
    }
}
.tp-style {
    top: 35px !important;
}

.tp-header-sticky.header-sticky{
    top: 0px;
}
#header-sticky{
    z-index: -1;
}

.setting-Menus {
   cursor: pointer;
}

.setting-Menus:hover {
    color: #bd844c;
}

.remove-after::after {
    content: none !important;
  }