
<div class="profile__tab-content">
   <div class="tab-content" id="profile-tabContent">
       
      <div class="profile__ticket table-responsive">
         <table class="table">
            <thead>
               <tr>
                  <th scope="col"> ID</th>
                  <th scope="col"> Name</th>
                  <th scope="col"> Email</th>
                  <th scope="col"> password </th>
                  <th scope="col">Role </th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let users of apiData">
                  <th scope="row">{{users.id}}</th>
                  <td data-info="title">{{users.name}}</td>
                  <td data-info="status pending">{{users.email}} </td>
                  <td>{{users.password}}</td>
                  <td>{{users.role}}</td>
               </tr>
          
            </tbody>
         </table>
      </div>
      
   </div>
</div>
