
<div class="profile__tab-content">
    <div class="tab-content" id="profile-tabContent">
<div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="profile__main">
        <div class="profile__main-top pb-80">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="profile__main-inner d-flex flex-wrap align-items-center">
                        
                        <div class="profile__main-content">
                            <h4 class="profile__main-title">Welcome Mr. {{name}}!</h4>
                         </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile__main-logout text-sm-end">
                      <button (click)="onLogOut()"><a class="tp-logout-btn">Logout</a></button>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
    </div>
</div>
